DATABASE_URL="postgresql://user:password@host:5432/inventario?schema=public"
PEXELS_API_KEY="tu_api_key_de_pexels"
DIRECT_URL="postgresql://user:password@host:5432/inventario?schema=public"
JWT_SECRET="your_super_secret_jwt_key_here"
JWT_EXPIRES_IN="7d"
PORT=4000
NODE_ENV=development
FRONTEND_URL="http://localhost:3000"
